body {
	font-family: Arial;
}

.flight-style-btn-grp {
	position: absolute;
	top: 20px;
	right: 20px;
}

.mobile .flight-style-btn-grp {
	width:100%;
	height: 18%;
	top: auto;
	right: auto;
	bottom: 89px;
	text-align: center;
}

.flight-style-btn {
	height: 146px;
	width: 68px;
	display: inline-block;
	cursor: pointer;
	border-width: 1px;
	border-style: solid;
	border-color: white;
}

.mobile .flight-style-btn {
	height: 100%;
	width: 14.7999%;
	background-size: 100% 100%;
}

.flight-style-btn.red {
	background-image: url('../img/1_RedStyle.png');
}

.flight-style-btn.orange {
	background-image: url('../img/2_OrangeStyle.png');
}

.flight-style-btn.green {
	background-image: url('../img/3_GreenStyle.png');
}

.flight-style-btn.blue {
	background-image: url('../img/4_BlueStyle.png');
}

.flight-style-btn.pink {
	background-image: url('../img/5_PinkStyle.png');
}

.flight-style-btn.white {
	background-image: url('../img/6_WhiteStyle.png');
}

.airportSelector {
	position: absolute;
    top: 200px;
    right: 20px;
    width: 245px;
    background: white;
    padding: 10px;
    border-radius: 10px;
    border-color: black;
    border-width: 2px;
    border-style: solid;
}

.mobile .airportSelector {
	top: auto;
	right: auto;
	width: 100%;
	border-radius: 0;
	border-width: 0;
	border-bottom-width: 1px;
	border-top-width: 1px;
	bottom: 17px;
	padding-left: 0;
	padding-right: 0;
	text-align: center;
}


.color-selector {
	position:absolute;
	bottom:20px;
	right:20px;
}

.mobile .color-selector {
	display: none;
}

.flat .dijitComboBoxMenu {
	height:300px;
}
